body{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: larger;
   
}
#submit{
    padding: 10px 20px;
    border-radius: 10px;
    background-color: aqua;
    transition: background-color 0.7s;
}
#submit:hover{
    background-color: rgb(41, 162, 255);
    


}