#countlabel{
    display: block;
    text-align: center;
    font-size: 4em;
    font-family: Arial, Helvetica, sans-serif;
    
}
#btncontainer{
    text-align: center;
   


}
.btn{
    padding:10px 20px;
    border-radius: 12px;
    background-color: aqua;
    box-shadow: none;
    cursor: pointer;
    transition: background-color 0.3s;
}
.btn:hover{
    background-color: rgba(51, 160, 255, 0.981); ;
}