body{
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgb(236, 236, 236);
}
h1{color: rgb(0, 153, 255);

}
form{
    background-color: white;
    text-align: center;
    max-width: 350px;
    padding:25px 25px;
    margin:auto;

    border-radius: 20px;
    box-shadow: 5px 5px 15px black;

}